@model List<CourseApplication.Models.CommentsModels.CommentsDisplayModel>

<br/>
@foreach(var item in Model)
{
    <h4>@item.UserName</h4>
    <h5>@item.CreateTime</h5>
    <label>@item.Comment</label>
}
